<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Developer Detail</title>
</head>
<body>
  <h1>Developer Detail</h1>
  <p><strong>First Name:</strong> {{ developer.first_name }}</p>
  <p><strong>Last Name:</strong> {{ developer.last_name }}</p>
  <p><strong>Username:</strong> {{ developer.username }}</p>
  <p><strong>Skills:</strong>
    {% for skill in developer.skills %}
    <ul>{{skill}}</ul>
    {% endfor %}
  </p>

  <a href="/Developers/">🔙 Back to List</a>
</body>
</html>
